.music-link-box {
    max-width: 175px;
}

.music-link-box h3 {
    margin: 14px 0;
}

.music-link-box a {
    background-color: #202429;
    text-decoration: none;
    color: #F8F9FA;
    padding-left: 10px;
    padding-right: 10px;
}

.music-link-box a:hover {
    color: #202429;
    background-color: #F8F9FA;
}