body {
  
}

#bg-image {
    /* background-color: rgb(68, 66, 66); */
    /* z-index: -1; */
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url(../img/lover_cover_album.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    background-blend-mode: luminosity;
    
}

/* header h1 {
  font-size: 2.4rem !important;
  font-weight: 600 !important;
}

h4 {
  font-weight: 500 !important;
} */

.bg-low-light {
  background-color: rgb(241, 241, 241) !important;
}

#link-box {
  max-width: 200px;
}

#link-box p {
  margin: 2rem 0rem;
}

#content-box {
  max-width: 740px;
}




.platform-container {
  height: 70px;
  /* border: 1px gray solid; */
  border-radius: 3px;
}

.platform-container:hover {
  background-color: rgb(130, 130, 130, 0.1);
}

.platform {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


#youtube { background-image: url(../img/retailer-logos/youtube.png); }
#spotify { background-image: url(../img/retailer-logos/spotify.png); }
#apple-music { background-image: url(../img/retailer-logos/applemusic.png);}
#amazon-music { background-image: url(../img/retailer-logos/amazonmusic.png);}
#google-play { background-image: url(../img/retailer-logos/googleplay.png);}
#deezer { background-image: url(../img/retailer-logos/deezer.png);}
#bandcamp { background-image: url(../img/retailer-logos/bandcamp.png);}

#youtube-container { padding: 16px 0;}

#spotify-container { padding: 19px 0;}

#apple-music-container { padding: 19px 0;}

#google-play-container { padding: 20px 0;}

#deezer-container { padding: 23px 0;}

#amazon-music-container { padding: 18px 0}

#bandcamp-container { padding: 23px 0}

@media (min-width: 768px) {
  #link-box {
    max-width: 10000px;
  }
}







/* Old CSS Platform Links */

#youtube-music-link {
  background-color: rgb(221, 14, 7);
  color: white;
}

#youtube-music-link:hover {
  background-color: rgb(247, 50, 44);
}

#apple-music-link {
  background-color: rgb(214, 39, 182);
  color: white;
}

#apple-music-link:hover {
  background-color: rgb(211, 81, 187);
}

#spotify-music-link {
  background-color: #2ebe59;
  color: white;
}

#spotify-music-link:hover {
  background-color: rgb(65, 231, 123);
}

#google-play-music-link {
  background-color: rgb(10, 167, 206);
  color: white;
}

#google-play-music-link:hover {
  background-color: rgb(40, 182, 218);
}

#deezer-music-link {
  background-color: black;
  color: white;
}

#deezer-music-link:hover {
  background-color: gray;
}


#amazon-music-link {
  background-color: #4100FF;
  color: white;
}
#amazon-music-link:hover {
  background-color: rgb(65, 7, 241);
}