header h1 {
    font-size: 2.4rem !important;
    font-weight: 600 !important;
}

h4 {
    font-weight: 500 !important;
}

.bg-low-light {
    background-color: rgb(241, 241, 241) !important;
}

#link-box {
    max-width: 200px;
}

#link-box p {
    margin: 2rem 0rem;
}

#subscribe-box {
    max-width: 522px;
}

#album-cover {}

#content-box {
    max-width: 740px;
}

#youtube-music-link {
    background-color: rgb(221, 14, 7);
    color: white;
}

#youtube-music-link:hover {
    background-color: rgb(247, 50, 44);
}

#apple-music-link {
    background-color: rgb(214, 39, 182);
    color: white;
}

#apple-music-link:hover {
    background-color: rgb(211, 81, 187);
}

#spotify-music-link {
    background-color: #2EBE59;
    color: white;
}

#spotify-music-link:hover {
    background-color: rgb(65, 231, 123);
}

#google-play-music-link {
    background-color: rgb(10, 167, 206);
    color: white;
}

#google-play-music-link:hover {
    background-color: rgb(40, 182, 218);
}