body {
	background-color: black;
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: white;
	/* font-size: 1.5em; */
	font-weight: bold;
	letter-spacing: 2px;
}


footer {
	width: 100vw;
	position: fixed;
	bottom: 0;
	font-size: 0.3em;
	text-align: center;
}

#home {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

#benja-logo-image {
	position: relative;
	max-height: 100%;
}

.overlay-text {
	position: fixed;
	text-align: center;
}





@media (min-width: 600px) {

	footer {
		text-align: left;
		font-size: 0.8em;
	}
}